.container{
box-sizing:content-box;
margin-left:auto;
margin-right:auto;
min-height:75%;
text-shadow: 0 0 black;
max-width: 1180px;
padding: 0 10px;
  }

.avram{
margin: 0px;
font-family: "PT Sans","Helvetica","Arial",sans-serif;
font-size: 16px;
line-height: 1.25;
color: #333;
background-color: #f6f6f6;
min-width: 320px;
margin-top: 16px;
}
.body{
      margin: 0;
    font-family: "PT Sans","Helvetica","Arial",sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #333;
    background-color: #f6f6f6;
  }
.grid{
    min-height: 680px;
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}
.left-corner{
  display: flex;
    max-width: 280px;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 280px;
}
.menu{
  display: block;
width: 100%;
position: relative;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
    border: solid 1px transparent;
    background-color: #fff;
}
.table1{
    height: 563px;
    margin-top: 20px;
    overflow: auto;
}
.menu1{
  display: block;
width: 100%;
position: relative;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
    border: solid 1px transparent;
    background-color: #fff;
}
.right-corner{
  display: flex;
    max-width: calc(100% - 300px);
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: calc(100% - 300px);
    border-radius: 8px;
    justify-content: space-between;
    align-content: space-between;
}
.action_class{
  background: rgba(0,0,0,0);
  height: 66px;
    padding: 0 24px;
    cursor: pointer;
    width: calc(100% - 46px);
    margin: 0 -1px;
}
.child_action_class{
  padding-left: 74px;
  height: 45px;
  padding-right: 24px;
  cursor: pointer;
  width: calc(100% - 96px);
  margin: 0 -1px;
  display: none;
}

.child_action_class:hover{
  background: rgba(0,0,0,0.05);
}
.action_class:hover{
  background: rgba(0,0,0,0.049);
}
.parent5{
  position: absolute;
  bottom:9px;
  right:0;
}
.parent0{
  margin-top: 9px;
}
.choice11{
  background-position: center center;
  background-image: url(../icons/1.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 25px;
  margin-right: 24px;
  text-align: center;
  vertical-align: middle;
  width: 25px;
}
.corner{
  margin-left:20px;
}
.red{
  background-position: center center;
  background-image: url(../icons/plus1.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 30px;
  right:0px;
  position: absolute;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 104px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}
.inner_red{
    background-position: center center;
    background-image: url(../icons/plus1.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    float: right;
    cursor: pointer;
    margin-top: 40px;
    margin-right: 30px;
    text-align: center;
    vertical-align: middle;
    width: 25px;
}
.inner_plus{
  background-position: center center;
  background-image: url(../icons/red.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
    height: 25px;
    float: right;
    margin-top: 40px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 25px;
}
.plus{
  background-position: center center;
  background-image: url(../icons/red.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
    height: 30px;
    right:0px;
    position: absolute;
    margin-top: 30px;
    margin-right: 54px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}
.sect1{
  display: inline-block;
    vertical-align: middle;
    line-height: 1.1em;
    width: calc(100% - 35px - 24px);
}
.per1{
  font-size: 16px;
  transition-duration: .3s;
    transition-property: color;
    text-decoration: none;
    color: #333;
}

.action_class:before{
  display: inline-block;
  vertical-align: middle;
  content: '';
  height: 100%;
}
.child_action_class:before{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}
.texter{
  font-size: 24px;
    color: #000;
    font-weight: 700;
    height: 30px;
    line-height: 1.3;
    display:inline-block;
    padding-top: 20px;
    padding-left: 30px;
    margin-bottom: 16px;
}
.inner_texter{
  padding-top:40px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
  padding-bottom: 9.2px;
  display: inline-block;
}
table {
  margin-left: 30px;
  margin-right: 30px;
  overflow: scroll;
  width: calc(100% - 60px);
  border-collapse: collapse;
  line-height: 1.1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
  color: #0C213B;
}
.inner_table {
  margin-right: 30px;
  margin-left:20px;
  overflow: scroll;
  width: 440px;
  border-collapse: collapse;
  line-height: 1.1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
  color: #0C213B;
}
th {
  padding: 10px;
  border: 1px solid #A9E2CC;
}
td {
  font-size: 0.8em;
  padding: 5px 7px;
  border: 1px solid #A9E2CC;
}


.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
}
.inner_target0{
  z-index: 1;
  background-color: rgba(0,0,0,0);
}
.inner_target1{
  z-index: 2;
  background-color: rgba(0,0,0,0);
}
.inner_target2{
  z-index: 3;
  background-color: rgba(0,0,0,0);
}
.inner_target3{
  z-index: 4;
  background-color: rgba(0,0,0,0);
}
.inner_target4{
  z-index: 5;
  background-color: rgba(0,0,0,0);
}
.b-popup .b-popup-content{
  font-size: 24px;
    color: #000;
    font-weight: 700;
    height: 30px;
    line-height: 1.3;
    margin:40px auto 0px auto;
    width:500px;
    height: 500px;
    padding:10px;
    background-color: #fff;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
.dd1{
  padding-top: 10px;
  text-align: center;

}
.dd2,.dd3,.dd4{
  padding-top:40px;
  font-size: 20px;
  font-weight: 500;
}
.dd5{
  width: 292.8px;
  height:22px;
}
input{

}
.cancel{
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 0;
  margin-top: 490px;
}
.cancel0{
  margin-left: 340px;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 0;
  margin-top: 490px;
}
.save{
  padding-top:40px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
.button7 {
  font-weight: 700;
  color: white;
  cursor:pointer;
  border-color: #fff0;
  text-decoration: none;
  width: 140px;
  height: 57.4px;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
}
.button7:hover { background: rgb(53, 167, 110); }
.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.inner_table1 {
  width:440px;
  font-size: 16px;
}
