<!DOCTYPE html>
<html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<link href="static/css/main.css" rel="stylesheet">
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="avram">
<div class="container">
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }} </li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  <div class="grid">
    <div class="left-corner">
      <div class="menu">

        {% for parent_action in menu %}
          {% if parent_action.html_class %}
          <div class="{{parent_action.html_class}} {{parent_action.main_class}} {{parent_action.unique_class}}" onclick="{{parent_action.onclick}}">
            <span class="choice11"></span>
            <div class="sect1">
              <a class="per1">{{parent_action.text}}</a>
            </div>
          </div>
          {% endif %}
          {% if parent_action.children %}
          {% for action in parent_action.children %}
            {% if action.child_name %}
            <div class="{{action.child_name}} {{action.child_action_class}} {{action.unique_class}}"  onclick="{{action.onclick}}">
              <span class="choice11"></span>
              <div class="sect1">
                <a class="per1">{{action.text}}</a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
  </div>
  <div class="right-corner">
    <div class="menu1">
        <div class="texter" id="texter">
        </div>
        <span class="red" onclick="javascript:PopUpShow()">
        </span>
        <span class="plus" onclick="window.location='http://google.com';">
        </span>
        <div class="table1">
        <div id="place_for_table"></div>
  </div>
  </div>
  </div>
  </div>
</div>
  <div class="b-popup" id="popup1">
      <div class="b-popup-content">
        <div id="place_for_edit_form"></div>
        <div class="dd1">
          Добавить товар
        </div>
        <div class="corner">
         <div class="dd2">
           Наименование:
           </div>
           <input type="text" id="fdd2" size="40">

         <div class="dd3">
           Группа товаров:
         </div>
           <select class="dd5"id=products_select>
    <option disabled>Выберите группу товара</option>
    <option value="Чебурашка">Чебурашка</option>
    <option value="Крокодил Гена">Крокодил Гена</option>
    <option value="Шапокляк">Шапокляк</option>
    <option value="Крыса Лариса">Крыса Лариса</option>
    <option value="Крыса Лариса">Rubak</option>
    <option value="Крыса Лариса">CHOPCHOP</option>
   </select>
         <div class="dd4">
           Кол-во на паллете:
           </div>
           <input type="text" id="fdd4"size="40">
</div>
         <div class=cancel>
           <a href="javascript:PopUpHide()" class="button7">Отменить</a>
         </div>
         <div class="cancel0">
           <a href="javascript:save()" class="button7">Сохранить</a>
         </div>

      </div>
  </div>
    </div>
</div>
</div>
</div>
</body>
<script>
{% for parent_action in menu %}
  {% if parent_action.html_class %}
    $(function() {
      $('.{{parent_action.html_class}}').click(function() {
        $('.{{parent_action.child_name}}').slideToggle();
        if ($('.{{parent_action.html_class}}').css('background') == 'rgba(0, 0, 0, 0.05) none repeat scroll 0% 0% / auto padding-box border-box'){
          $('.{{parent_action.html_class}}').css({'background':''});
        } else{
        $('.{{parent_action.html_class}}').css({'background':'rgba(0,0,0,0.05)'});
      }
      });
    });
  {% endif %}
{% endfor %}
</script>
<script>
    $(document).ready(function(){
        //Скрыть PopUp при загрузке страницы
        PopUpHide();
    });
    //Функция отображения PopUp
    function PopUpShow(){
        $("#popup1").show();
    }
    //Функция скрытия PopUp
    function PopUpHide(){
        $("#popup1").hide();
    }
</script>
<script>//Таблица + форма
{% for parent_action in menu %}
  {% if parent_action.html_class %}
    {% for action in parent_action.children %}
    $(function {{action.unique_class}}() {
      $('.{{action.unique_class}}').click(function() {
        var change = document.getElementById("texter"); //Замена титульника
        if (change.innerHTML != "{{action.text}}")
        {
          change.innerHTML = "{{action.text}}";
        }
        $.ajax({    //Получение таблицы
          url: '/table',
          type: 'get',
          data: {dbname: '{{action.unique_class}}'},
          success: function(response) {  //Установка таблицы
            $('#place_for_table').html(response);
            $.ajax({        //Получение формы
              url: '/table-edit-form',
              type: 'get',
              data: {dbname: '{{action.unique_class}}'},
              success: function(response) {
                $('#place_for_edit_form').html(response);
              },
              error: function(xhr) {
                //Grisha do something
              }
            })
          },
          error: function(xhr) {
            //Grisha do something
          }
        });
      });
    });
    {% endfor %}
  {% endif %}
{% endfor %}
</script>

<script>
function save(){
a=fdd2.value+"@"+document.getElementById('products_select').options[document.getElementById('products_select').selectedIndex].text+"@"+fdd4.value
$.ajax({
          url: '/table-add',
          type: 'get',
          data: {dbname: 'products', text_element:a},
          success: function(r){$.ajax({
          url: '/table',
          type: 'get',
          data: {dbname: 'products'},
        success: function(response) {
            $('#place_for_table').html(response);
          }})},
          error: function(xhr) {
            //Grisha do something
          }
        });
        $("#popup1").hide();
      };
</script>
</html>
