{% for table in tables %}
  <div class="texter" id="texter">{{ table.label_text }}</div>
  <span class="red" onclick="javascript:{{ table.onclick_add }}()"></span>
  <span class="plus" onclick="javascript:{{ table.onclick_edit }}()"></span>
  <div class="table1">
  <table class="corner table">
    <tr>
      {% for name in table.clm_names %}
        <th>{{name}}</th>
      {% endfor %}
    </tr>
    {% for row in table.data %}
    <tr>
      {% for element in row %}
        <td>{{element}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  </div>
  <script>
    //Функция отображения PopUp
    function {{ table.onclick_add }}(){
      $("{{ table.target_add }}").show();
    }
    //Функция скрытия PopUp
    function {{ table.hide_add }}(){
      $("{{ table.target_add }}").hide();
    }
  </script>
{% endfor %}


